---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About Me"
  description="some description here"
  keywords="code contributions,developer advocate, open source collaboration,technical Writing, community engagement,problem solver,software development,developer-communities, DevRel"
  image="/home.png"
>
  <section>
    <div class="container">
      <div class="content">
        <h1>About me</h1>
        <p class="intro">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem atque
          saepe nisi quasi nemo praesentium error, ipsum rerum! Dicta
          accusantium architecto nihil repellendus iste, fugit aliquid
          consequatur quod in molestias.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
          aspernatur obcaecati veniam totam nobis dolorem, laboriosam ullam
          ipsam eaque. Vel quo quis libero omnis animi itaque incidunt aperiam
          deserunt a!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, odit
          omnis distinctio est assumenda a fugiat commodi, aliquam numquam
          consequuntur ea voluptatem in laudantium eum inventore odio, aliquid
          sapiente. Mollitia.
        </p>
        <p>
          <a
            href="mailto:example@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            >shoot me an email
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z"
                fill="currentColor"></path></svg
            >
          </a>
        </p>
        <h2>Skills and technologies</h2>
        <div class="grid">
          <ul>
            <li>Node.js</li>
            <li>Next.js</li>
            <li>Docker</li>
            <li>Astro (this website was built with it)</li>
          </ul>
          <ul>
            <li>Databases (PostgreSQL, MySQL, MongoDB)</li>
            <li>API Documentation</li>
            <li>Technial Writing</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  section {
    padding-bottom: 30px;
  }
  div {
    margin-bottom: 20px;
  }
  .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr auto;
  }
  @media screen and (max-width: 640px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  .grid li {
    flex: 50%;
  }
  h1 {
    font-size: 3rem;
  }
  ul {
    margin-left: 30px;
  }
</style>
