---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Sobre mi"
  description="some description here"
  keywords="code contributions,developer advocate, open source collaboration,technical Writing, community engagement,problem solver,software development,developer-communities, DevRel"
  image="/home.png"
>
<section>
  <div class="container">
    <div class="content">
      <h1>Sobre mí</h1>
      <p class="intro">
        Soy un apasionado de la tecnología con un gran interés en el desarrollo de software y la resolución de problemas complejos. Aunque estoy dando mis primeros pasos en este campo, estoy comprometido con el aprendizaje continuo y el desarrollo de nuevas habilidades que me permitan crecer como profesional.
      </p>
      <p>
        Mi enfoque se basa en la curiosidad y la dedicación. Me gusta explorar nuevas tecnologías y aplicar mis conocimientos para encontrar soluciones creativas y eficaces. Estoy convencido de que la innovación surge de la combinación de habilidades técnicas y una mentalidad abierta hacia el aprendizaje.
      </p>
      <p>
        Además, me encanta colaborar en proyectos de código abierto, lo que me ha permitido conectar con una comunidad global de desarrolladores y aprender de sus experiencias. Estoy siempre dispuesto a enfrentar nuevos desafíos y aportar valor en todo lo que hago.
      </p>
      <p>
        <a
          href="mailto:example@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          >¡Contáctame por email!
          <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z"
              fill="currentColor"></path></svg
          >
        </a>
      </p>
      <h2>Habilidades y Tecnologías</h2>
      <div class="grid">
        <ul>
          <li>Node.js</li>
          <li>Next.js</li>
          <li>Docker</li>
          <li>Astro (este sitio web fue construido con Astro)</li>
        </ul>
        <ul>
          <li>Bases de Datos (PostgreSQL, MySQL, MongoDB)</li>
          <li>Documentación de APIs</li>
          <li>Redacción Técnica</li>
        </ul>
      </div>
    </div>
  </div>
</section>

</Layout>

<style>
  section {
    padding-bottom: 30px;
  }
  div {
    margin-bottom: 20px;
  }
  .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr auto;
  }
  @media screen and (max-width: 640px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  .grid li {
    flex: 50%;
  }
  h1 {
    font-size: 3rem;
  }
  ul {
    margin-left: 30px;
  }
</style>
