---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <div class="container">
    <nav>
      <HeaderLink href="/">Inicio</HeaderLink>
      <HeaderLink href="/about/">Sobre mi</HeaderLink>
      <!--       <HeaderLink href="/blog/">blog</HeaderLink>
 -->
      <HeaderLink href="/projects/">Proyectos</HeaderLink>
    </nav>
  </div>

  <style>
    header {
      margin-top: 10rem;
    }
  </style>
</header>
